@media (max-width: 1200px) {
  // 700px이하 사이즈
  .layout-content {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  main {
    height: auto;
    padding: 40px 0;
    div {
      flex-direction: column;
    }
  }
  address {
    font-size: 16px;
  }
  #목차 {
    main {
      padding: 0;
      flex-direction: column;
      .pdf {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
      }
    }
  }
}

@media (max-width: 900px) {
  footer {
    height: 100px;
  }
  address {
    font-size: 14px;
  }
  header > div #menu.open {
    width: 100%;
  }
}

@media (max-width: 768px) {
  // 700px이하 사이즈
  section {
    padding: 40px 0;
  }
  .row {
    flex-direction: column;
    .block + .block {
      margin-top: 50px;
    }
  }
  .info {
    flex-direction: column;
    align-items: flex-start;
  }
  .sns span img {
    margin-top: 10px;
    width: 28px;
  }
}
