@media (max-width: 1200px) {
  // 700px이하 사이즈
  .layout-content {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  #메인 {
    main {
      height: auto;
      padding: 40px 0;
      div {
        flex-direction: column;
      }
    }
  }
  address {
    font-size: 16px;
  }
  #목차 {
    main {
      width: 100%;
      padding: 0;
      flex-direction: column;
      .pdf {
        padding: 0 5%;
        border: none;
        border-bottom: 10px solid white;
        .main-image {
          padding-bottom: 40px;
          text-align: center;
        }
      }
      .list {
        padding: 0 5%;
        .swiper-container {
          height: 570px;
        }
      }
      .main-title {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 900px) {
  footer {
    height: 100px;
  }
  address {
    font-size: 14px;
  }
  header > div #menu.open {
    width: 100%;
  }
}

@media (max-width: 768px) {
  // 700px이하 사이즈
  section {
    padding: 40px 0;
  }
  .row {
    flex-direction: column;
    .block + .block {
      margin-top: 50px;
    }
  }
  .info {
    flex-direction: column;
    align-items: flex-start;
  }
  .sns span img {
    margin-top: 10px;
    width: 28px;
  }
}
