@import 'config';
@import 'header';
@import 'footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: -1.3px;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.layout-content {
  width: 1200px;
  margin: 0 auto;
}

main {
  height: 500px;
  background-color: $primary-color;
  > div {
    display: flex;
    height: 100%;
    div {
      flex: 1;
    }
    .book-cover {
      display: flex;
      align-items: center;
    }
    .book-info {
      padding-top: 100px;
      text-align: end;
    }
    .book-title {
      margin-bottom: 50px;
      color: white;
      strong {
        font-size: 36px;
      }
      p {
        margin: 0;
        font-size: 40px;
        line-height: 1;
      }
    }
    .book-desc p {
      font-size: 24px;
    }
  }
}

section {
  padding: 90px 0;
  .row {
    display: flex;
    justify-content: space-between;
    & + .row {
      margin-top: 62px;
    }
  }
}
